#page-container 
{
    position: relative;
    min-height: 100vh;
    background-color: rgb(252, 239, 222);
}
  
#content-wrap 
{
    max-width: 30%;
    padding-bottom: 1.5rem;  
}
  
#footer 
{
    position: absolute;
    bottom: 0;
    width: 100%;
}